@page "/phonics"
@{
    <div class="d-flex flex-column flex-md-row gap-5 position-absolute top-50 start-50 translate-middle">
        @foreach (var book in Books)
        {
            <div class="card bg-success" style="height: 10rem; width: 10rem;">
                <img src="@book.Cover" class="card-img" alt="Ilmhub English Kids">
                <div class="card-img-overlay d-flex justify-content-center align-items-end">
                    <a href="/phonics/@book.Slug" class="h2 m-0 mt-1 text-decoration-none stretched-link link-dark">
                    </a>
                </div>
            </div>
        }
    </div>
}
