@page "/phonics/{bookSlug}"

@if(Book is not null) {
    <div class="vh-100 container">
        <p class="display-1 my-4 text-center">@Book?.Title</p>
        <div class="d-flex flex-row flex-md-row flex-wrap gap-5 alig-items-center justify-content-center">
            @foreach (var unit in Book?.Units ?? [])
            {
                <div class="card bg-primary" style="min-width: 10rem; min-height: 10rem;">
                    <p class="h3 m-auto">@unit.Topic</p>
                    <a href="/phonics/@Book!.Slug/@unit!.Id/practice" class="stretched-link"></a>
                </div>
            }
        </div>
    </div>
}