<div class="recording-wave-container justify-content-center">
    <span class="recording-wave-stroke bg-success rounded m-2"></span>
    <span class="recording-wave-stroke bg-success rounded m-2"></span>
    <span class="recording-wave-stroke bg-success rounded m-2"></span>
    <span class="recording-wave-stroke bg-success rounded m-2"></span>
    <span class="recording-wave-stroke bg-success rounded m-2"></span>
    <span class="recording-wave-stroke bg-success rounded m-2"></span>
    <span class="recording-wave-stroke bg-success rounded m-2"></span>
</div>